body {
  margin: 0;
  padding: 0;
}

/* ControlsGUI.js Plugin */

#controlsView {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #dddddd;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 20%; /* Adjust width as needed */
  max-height: 80%;

}

#controlsTable {
  border-collapse: collapse;
  width: 100%;
}

#controlsTable th,
#controlsTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
  font-size: 24px;
}

#controlsTable th {
  background-color: #f2f2f2;
}


#pluginView {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Default height */
  background-color: white;
  border-top: 1px solid black;
  transition: height 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

#pluginView.expanded {
  height: 20vh; /* Expanded height */
  max-height: 90vh;
  overflow-y: auto;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  #pluginView {
    width: 40%; /* Wider on smaller screens */
  }
}

#pluginContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}


.pluginCard {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  flex-basis: calc(100% / 12 - 20px); /* Adjust according to your design preference */

}

.pluginCard:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.pluginCard.active {
  background-color: #e0f7fa; /* Light blue background for active plugins */
}

.pluginName {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  font-weight: bold;
  font-size: 28px;
}

/* Scrollbar Styles */
#pluginView::-webkit-scrollbar {
  width: 6px;
}

#pluginView::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

#pluginView::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.toolbarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
}

.arrowIndicator {
  display: inline-block;
  margin-left: 5px;
  user-select: none; /* Prevent text selection */
}


/* YantraGUI */

#logContainer {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  height: 16vh;
}

#logTextArea {
  width: 100%;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

#metadataContainer {
  width: 35%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

/* Editor toolbar */
/* Editor toolbar */
.editor-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Dark background for a slick look */
  display: flex;
  justify-content: start;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle shadow for depth */
}

.menu {
  position: relative; /* Set relative positioning for menu items */
}

.menu button {
  margin-right: 10px;
  background-color: #555; /* Dark button color */
  color: white; /* Light text color for contrast */
  border: none;
  padding: 10px 15px;
  text-transform: uppercase; /* Makes text uppercase for a more toolbar-like appearance */
  font-size: 14px;
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Changes cursor to indicate button */
}

.menu button:hover {
  background-color: #666; /* Slightly lighter on hover for interactive effect */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  min-height: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Position dropdown directly below the menu item */
  left: 0; /* Align dropdown left edge with menu item left edge */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.show {display: block;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: flex; /* Use flexbox */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* 75% of the screen width */
  max-width: 1000px; /* Maximum width */
  box-sizing: border-box; /* Include padding and border in the width */
  display: flex;
  flex-direction: column; /* Arrange title and columns container vertically */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* Ping Test */
.ping-results-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ping-region {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.ping-good {
  background-color: #d4edda; /* Light green */
}

.ping-moderate {
  background-color: #fff3cd; /* Light yellow */
}

.ping-poor {
  background-color: #f8d7da; /* Light red */
}

.ping-pending {
  background-color: #f0f0f0; /* Light grey for pending */
}


/* The Close Button */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Ping results container styles */
.ping-results-container {
  margin-top: 10px;
}

#mantraIframe {
  width: 100vw;
  height: 100vh;
  border: none;
}

/* Styles for the Entity Inspector Window */
#entityView {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  overflow: auto;
  z-index: 1000;
  width: 40%;
  height: 50%;
}

.closeButton {
  float: right;
  cursor: pointer;
  color: #888;
  font-weight: bold;
}

.closeButton:hover {
  color: #555;
}

/* Styles for the table within the inspector */
#entityPropertiesTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#entityPropertiesTable th,
#entityPropertiesTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#entityPropertiesTable th {
  background-color: #f8f8f8;
  color: #333;
}

#entityPropertiesTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styles for nested tables */
#entityPropertiesTable table {
  width: 100%;
  margin: 5px 0;
  border: none;
}

#entityPropertiesTable table td,
#entityPropertiesTable table th {
  border: none;
  padding: 4px 8px;
  text-align: left;
}

#entityPropertiesTable table tr:nth-child(even) {
  background-color: #fafafa;
}


.gui-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* Container for the Event Table */
#emittersContainer {
  top: 10%;
  left: 30%;
  z-index: 1000; /* To ensure it's above other elements */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%; /* Adjust width as needed */
  height: 60%;
  resize: both;
  overflow: auto;
  position: absolute;
}

.gui-container {
  z-index: 1000; /* To ensure it's above other elements */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: both;
  overflow: auto;
  position: absolute;
}

.gui-container th {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

/* Basic Reset */
#eventTable {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

#eventTable th,
#eventTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Header Styling */
#eventTable th {
  background-color: #4CAF50;
  color: white;
}

/* Zebra Striping for Rows */
#eventTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover Effect for Rows */
#eventTable tr:hover {
  background-color: #ddd;
}

/* Responsive Table */
@media screen and (max-width: 600px) {
  #eventTable {
    border: 0;
  }

  #eventTable thead {
    display: none;
  }

  #eventTable tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  #eventTable td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  #eventTable td:last-child {
    border-bottom: 0;
  }

  #eventTable td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.resizeHandle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #ccc;
  cursor: nwse-resize;
}

.dragHeader {
  padding: 10px;
  cursor: move;
  background: #ddd;
  color: #333;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.dragHeader h1,h2,h3 {
  padding: 0;
  margin: 0;
}
