body {
  margin: 0;
  padding: 0;
  background: #007fff;
}

#controlsView {
  top: 10%;
  right: 20%;
  z-index: 1000;

  width: 20%;

  height: 30%;
  min-width: 260px;
  min-height: 215px;
  resize: both;
  overflow: auto;
  position: absolute;
}

#pluginExplorer {
  top: 10%;
  right: 20%;
  z-index: 1000;

  width: 20%;

  height: 30%;
  min-width: 600px;
  min-height: 500px;
  resize: both;
  overflow: auto;
  position: absolute;

}

@media (max-width: 768px) {
  #pluginView {
    width: 40%;

  }
}

#pluginsContainer {
  top: 5%;
  right: 10px;
  z-index: 1000;

  width: 15vw;

  min-width: 200px;
  max-width: 300px;
  height: 80%;
  resize: both;
  overflow: auto;
  position: absolute;
}

.pluginCard {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  flex-basis: calc(100% / 12 - 20px);

}

.pluginCard:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.pluginCard.active {
  background-color: #e0f7fa;

}

.pluginName {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 25px;
  font-weight: bold;
  font-size: 28px;
}

#pluginView::-webkit-scrollbar {
  width: 6px;
}

#pluginView::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#pluginView::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.toolbarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
}

.arrowIndicator {
  display: inline-block;
  margin-left: 5px;
  user-select: none;

}

#logContainer {
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  height: 16vh;
}

#logTextArea {
  width: 100%;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

#metadataContainer {
  width: 35%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.editor-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: start;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu {
  position: relative;
}

.menu button {
  margin-right: 10px;
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.menu button:hover {
  background-color: #666;
  color: #9a9cff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  min-height: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);

  justify-content: center;

  align-items: center;

  display: flex;

}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;

  max-width: 1000px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.ping-results-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ping-region {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.ping-good {
  background-color: #d4edda;

}

.ping-moderate {
  background-color: #fff3cd;

}

.ping-poor {
  background-color: #f8d7da;

}

.ping-pending {
  background-color: #f0f0f0;

}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ping-results-container {
  margin-top: 10px;
}

#mantraIframe {
  width: 100vw;
  height: 100vh;
  border: none;
}

.resizeHandle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: #ccc;
  cursor: nwse-resize;
}

.gui-container {
  z-index: 1000;
  background-color: #0a0f1b;

  color: #d3d9df;

  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  resize: both;
  overflow: auto;
  position: absolute;
}

.gui-container table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.gui-container th,
.gui-container td {
  border: 1px solid #2a3348;
  padding: 8px;
  text-align: left;
  color: #ffffff;
  min-width: 60px;
  vertical-align: top;
  max-width: 120px;

}

.gui-container th {
  font-size: 18px;
  background-color: #1c2535;
  color: #9a9cff;

  cursor: pointer;
}

.gui-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.gui-header h1,
.gui-header h2,
.gui-header h3 {
  padding: 0;
  padding-left: 5px;
  margin: 0;
}

.closeButton {
  float: right;
  cursor: pointer;
  color: #888;
  font-weight: bold;
}

.closeButton:hover {
  color: #d3d9df;
}

.traffic-light-container {
  width: 100px;
}

.traffic-light.close {
  background-color: #ff605c;
}

.traffic-light.minimize {
  background-color: #ffbd44;
}

.traffic-light.maximize {
  background-color: #00ca56;
}

.gui-header {
  background: #f0f0f0;
  color: #000;
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.gui-header h3 {
  position: relative;
  right: 25px;
  font-weight: normal;
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 24px;

  padding: 0;
  font-size: 18px;
}

.traffic-light-container {
  display: flex;
  align-items: center;
}

.traffic-light {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px;
  display: inline-block;
  cursor: pointer;
}

.gui-content {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  overflow-x: hidden;

}

#entityView {
  position: absolute;
  bottom: 10%;
  right: 20%;
  min-width: 440px;
  overflow: auto;
  z-index: 1000;
  width: 440px;
  height: 50%;
}

#eventsView {
  top: 5%;
  left: 40%;
  z-index: 1000;
  width: 30%;
  height: 60%;
  resize: both;
  overflow: auto;
  position: absolute;
}

#entitiesView {
  top: 5%;
  left: 20px;
  z-index: 1000;
  width: 30%;
  height: 60%;
  resize: both;
  overflow: auto;
  position: absolute;
}

#graphics-babylon-window {
  top: 10%;
  left: 10%;
  z-index: 1000;
  width: 320px;
  height: 240px;
  resize: both;
  overflow: auto;
  position: absolute;
}

#graphics-phaser-window {
  top: 10%;
  right: 10%;
  z-index: 1000;
  width: 320px;
  height: 240px;
  resize: both;
  overflow: auto;
  position: absolute;
}

#sutraView {
  top: 10%;
  left: 10%;
  z-index: 1000;
  width: 550px;
  min-width: 460px;
  min-height: 200px;
  height: 60%;
  resize: both;
  overflow: auto;
  position: absolute;
}

#midiView {
  top: 30%;
  left: 30%;
  z-index: 1000;
  width: 550px;
  min-width: 460px;
  min-height: 200px;
  height: 60%;
  resize: both;
  overflow: auto;
  position: absolute;
}

#nesView {
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 60vw;
  height: 80vh;

  min-width: 460px;
  min-height: 200px;
  resize: both;
  overflow: auto;
  position: absolute;
  color: #d3d9df;
}

#scoreboardView {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1000;
  width: 400px;
  height: 400px;
}

#scoreboardView ul li {
  font-size: 64px;
  list-style-type: none;
}

#entityEditor {
  top: 10%;
  left: 40%;
  z-index: 1000;
  width: 550px;
  min-width: 460px;
  min-height: 200px;
  height: 60%;
  resize: both;
  overflow: auto;
  position: absolute;
}

#gameEditorView {
  top: 10%;
  left: 10%;
  z-index: 1000;
  width: 550px;
  min-width: 460px;
  min-height: 200px;
  height: 60%;
  resize: both;
  overflow: auto;
  position: absolute;
}

#gameEditorView .gui-content {
  padding: 20px;
}


#sutraFormView {
  top: 10%;
  left: 50%;
  z-index: 1000;
  width: 700px;
  height: 600px;
  resize: both;
  overflow: auto;
  position: absolute;
}

#sutraActionEditor {
  top: 30%;
  left: 50%;
  z-index: 1000;
  width: 700px;
  height: 600px;
  resize: both;
  overflow: auto;
  position: absolute;
}

.sutra-link {
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.sutra-link:hover {
  text-decoration: underline;
}

.sutra-link:active {
  color: #9a9cff;
}

.sutra-link:focus {
  outline: none;
}

.sutra-link:visited {
  color: #9a9cff;
}

#editorContainer {
  background-color: #121a2e;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.gui-content textarea {
  width: 100%;
  height: 200px;
  background-color: #1c2535;
  border: none;
  color: #4caf50;
  padding: 10px;
  border-radius: 5px;
}

#sutraFormView .gui-content {
  padding: 25px;
}

#sutraActionEditor .gui-content {
  padding: 25px;
}

.node-info {
  margin-bottom: 20px;
  font-size: 24px;
}

.node-path,
.node-action {
  color: #4CAF50;

  font-weight: bold;
}

.sutra-form {
  background-color: #162238;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-form {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.radio-group {
  margin-bottom: 15px;
}

.radio-label {
  margin-right: 10px;
  font-size: 14px;
}

.radio-input {
  margin-right: 5px;
}

.input-container {
  margin-bottom: 15px;
}

.save-button {
  background-color: #2196F3;

  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.save-button:hover {
  background-color: #1976D2;

}

.node-element {
  color: #d3d9df;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  padding-bottom: 15px;
}

.node-element.collapsed .node-element {
  display: none;
}

.collapsed {
  display: none;
}

.node-element-form,
.action-select-container,
.data-container,
.input-group,
button {
  cursor: default;
}

button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

}

.gui-window-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
}

.node-element-form {
  border: 1px solid #2a3348;
  margin: 0px;
  padding: 0px;
}

.action-select,
.param-input,
#sutraView select {
  background-color: transparent;
  border: 1px solid transparent;
  color: #d3d9df;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

#entitiesTable tr {
  cursor: pointer;
}

.editor-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #162238;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.editor-table th,
.editor-table td {
  border: 1px solid #2a3348;
  padding: 8px;
  color: #d3d9df;
}

.editor-table th {
  background-color: #1c2535;
  color: #4caf50;
}

.condition,
.else-branch {
  color: #d3d9df;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

#sutraView button {
  position: relative;

  background-color: #5021FF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

#sutraView button:hover {
  background-color: #2160FF;
}

#sutraTable {
  padding: 10px;
  margin: 10px;
}

.param-label {
  display: block;
  margin-bottom: 5px;
  color: #d3d9df;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 1;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.sliding-out-table {
  animation: slideOut 1.1s ease-out forwards;
}

.sliding-in-table {
  animation: slideIn 1.1s ease-out forwards;
}

.entity-inspector-container {
  position: relative;
  overflow: hidden;
}

.highlighted-sutra-node {
  border: 1px solid 9a9cff !important;
  box-shadow: 0 0 15px rgba(154, 156, 255, 0.6) !important;

  transition: border 0.3s ease, box-shadow 0.3s ease !important;

}

textarea {
  background-color: transparent;
  color: #d3d9df;
}

.data-container {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #2a3348;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  margin-left: 20px;
}

.input-group label {

  margin-bottom: 5px;
  display: block;
}

.input-group input,
.input-group select {

  padding: 8px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #2a3348;
  background-color: transparent;
  color: #d3d9df;
  box-sizing: border-box;
}

select {
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid #2a3348;
  background-color: transparent;
  color: #d3d9df;
  box-sizing: border-box;
}

option {
  background-color: transparent;
  color: #000000;
}

.input-group option {
  background-color: transparent;
  color: #000000;
}

.action-select option {
  background-color: transparent;
  color: #000000;
}

.input-group input:hover,
.input-group select:hover {

  border-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.4);
}

.input-group input:focus,
.input-group select:focus {
  outline: none;
  border-color: #9a9cff;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.4);
}

.action-node-form .node-element {
  margin-left: 0px;
  padding-bottom: 0px !important;
}

.condition-container {
  display: flex;
  flex-direction: column;
}

.condition {
  border: 1px solid #2a3348;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  cursor: pointer;
}

.condition:hover {
  border-color: #9a9cff;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.4);
}

/* add class to .condition when pressed */
.condition:active {
  border-color: #9a9cff;
  box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.4);
}

.condition-separator {
  font-weight: bold;
  margin: 5px 0;
}

.action-select {
  margin-bottom: 0;
  width: 230px;

}

.action-select-container {
  color: #d3d9df;
  display: block;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}


.action-select-container:hover {
  border-color: #9a9cff;
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.4);
}

/* add class to .condition when pressed */
.action-select-container:active {
  border-color: #9a9cff;
  box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.4);
}

.action-select-container select {
  flex-grow: 1;

}

.sutra-keyword {
  color: #9a9cff !important;
  font-size: 16px !important;
}

.then-label {
  color: #d3d9df;
  margin-bottom: 5px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid #2a3348;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.then-label span {
  margin-right: 10px;

}

.with-label {
  color: #d3d9df;
  margin-bottom: 5px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;

}

.with-container {
  margin: 0px;
  padding: 0px;
}

.data-border {
  border: 1px solid #2a3348;
}

.data-value-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.data-key {
  color: #ffffff;
  background-color: #2a3348;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #2a3348;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /* Adjust as needed to align with your design */
}

.data-value {
  color: #ffffff;
  background-color: #2a3348;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #2a3348;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  /* Adjust as needed to align with your design */
}


/* Optional: Hover and focus effects for data values */
.data-value:hover {
  border-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.4);
}

.data-value:focus {
  outline: none;
  border-color: #9a9cff;
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.4);
}


.nested-data-container {
  margin-left: 20px;

}

.nested-level-1 {
  margin-left: 20px;
}

.nested-level-2 {
  margin-left: 40px;
}

.nested-level-3 {
  margin-left: 60px;
}

.nested-level-4 {
  margin-left: 80px;
}

.nested-level-5 {
  margin-left: 100px;
}

.pluginList {
  list-style: none;
  font-size: 10px;
  padding: 0;
  padding-left: 10px;
  margin: 10px;
  cursor: pointer;
}

.pluginLabel {
  padding-left: 10px;
  font-size: 22px;
  width: 80px;
  text-overflow: ellipsis;
  display: inline-flex;
}

.plugin-form-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

.method-form {
  margin-bottom: 15px;
}

.method-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.method-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.rule-button {
  padding: 4px 8px;
  font-size: 12px;
  margin: 0 4px;
}

.rule-button-add {}

.rule-button-remove {

  position: absolute !important;
  right: -2px;
  bottom: -3px;
  margin: 5px;
  padding: 4px;
  width: 20px;

}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible-content-open {
  max-height: 500px;

}

.remove-condition-button,
.add-condition-below-button {
  right: 25px;
  background-color: #5021FF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.remove-condition-button:hover,
.add-condition-below-button:hover {
  background-color: #2160FF;
}

.conditional-editor-container {
  background-color: #162238;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  color: #d3d9df;
  margin-bottom: 25px;
  font-size: 22px;
}

.conditional-editor-container label {
  color: #d3d9df;
  font-size: 22px !important;
}

.conditional-editor-container span {
  font-size: 22px !important;
  font-weight: normal;
}

.conditional-editor-container select {
  font-size: 22px !important;
}

.conditional-editor-container option {
  color: #000000;
}

.conditional-editor-container input {
  font-size: 22px !important;
}

.field-container {
  margin-bottom: 15px;
}

.field-label {
  display: block;
  margin-bottom: 5px;
  color: #d3d9df;
  font-weight: bold;
}

.field-input {

  background-color: transparent;
  border: 1px solid #d3d9df;
  color: #d3d9df;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

.operator-container {
  margin-bottom: 15px;
}

.operator-select {
  background-color: transparent;
  border: 1px solid #d3d9df;
  color: #d3d9df;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
}

.save-button {
  background-color: #5021FF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 10px;
}

.save-button:hover {
  background-color: #2160FF;
}

.conditional-editor-container h3 {
  color: #9a9cff;
}

#colorPicker {
  width: 200px;
  height: 200px;
  background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  cursor: crosshair;
  border: 1px solid #ccc;
}

#folder-explorer ul {
  list-style-type: none;
}

#folder-explorer li {
  cursor: pointer;
  padding: 5px;
}

#folder-explorer li:hover {
  background-color: lightgrey;
}

.folder-structure {
  list-style-type: none;
}

.entity {
  margin-left: 20px;
}

.folder-icon {
  background: url('/vendor/feather/folder.svg');
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  /* Resize the background image */
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background-size: 24px 24px;
  /* Resize the background image */
}

.folder-icon:hover {
  color: #9a9cff;
}

.folder-label {
  display: flex;
  /* Use flexbox for alignment */
  align-items: center;
  /* Align items vertically in the center */
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #d3d9df;
}


.entity-label {
  display: inline-block;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #d3d9df;
  cursor: pointer;
}

#entity-edit-form {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
}

.form-field {
  margin: 10px 0;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  border: none;
  padding-left: 20px;
  margin-top: 10px;
}

legend {
  font-weight: bold;
  padding: 5px 0;
}

/* Hover Effects */
#folder-explorer li:hover,
.folder-label:hover,
.entity-label:hover {
  color: #9a9cff;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* add disabled style for button*/
button[type="submit"]:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.game-settings-form {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px;
}

.component-selector {
  margin-bottom: 10px;
  padding-left: 20px;
}

#contraption-interface {
  background-color: #fff;
  padding: 20px;
  /* border-radius: 8px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 20px; */

}

#contraption-interface select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #0056b3;
}


#save-contraption-form {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#display-contraption {
  text-align: center;
  font-size: 22px;
  color: black;
}

#run-contraption-form {
  display: none;
}

#save-contraption-form label {
  font-weight: bold;
}

#save-contraption-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#save-contraption-form button {
  padding: 10px 15px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#save-contraption-form button:hover {
  background-color: #003d82;
}